# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
*.env
*.venv

# Django-related files
db.sqlite3
media/
staticfiles/
static/
*.log

# Local environment settings
.env
*.local

# IDE / Editor Specific Files
.vscode/
.idea/
*.iml

# macOS System Files
.DS_Store

# PyCharm
*.pyc
.mypy_cache/
pytest_cache/
migrations
